// Main Color
$primary: #475a51;
$secondary: #bc9e7b;
$thirdaly: #fe6340;
// $primary: #008080;
// $secondary: #00cccc;

// Parts Color
$nav: #66553e;
$button: #332a1f;
// $nav: #009999;
// $button: #003333;

// font color
$f-primary: #3b3838;
$f-secondary: #475a51;

// 使用時変更のこと！
